@use '../base/helpers' as *;

.about {
  padding-block: fluid(120, 40);

  background-color: rgb(var(--color-dark-10));

  &__inner {
    display: grid;
    row-gap: fluid(100, 40);
  }

  &__header {
    display: grid;
    grid-template-areas:
      'icon info'
      'icon description';
    grid-template-columns: auto 1fr;
    gap: rem(30) fluid(80, 20);
    align-items: center;

    @include laptop {
      row-gap: rem(20);
    }

    @include mobile {
      grid-template-areas:
        'icon subtitle'
        'title title'
        'description description';
    }
  }

  &__icon {
    grid-area: icon;
    width: fluid(150, 60);
  }

  &__info {
    display: grid;
    row-gap: rem(16);

    @include laptop {
      row-gap: rem(10);
    }

    @include mobile {
      display: contents;
    }
  }

  &__subtitle {
    justify-self: start;

    @include mobile {
      grid-area: subtitle;
    }
  }

  &__title {
    @include mobile {
      grid-area: title;
    }
  }

  &__description {
    @include mobile {
      grid-area: description;
    }
  }

  &__list {
    display: grid;
    gap: rem(20);
    padding: rem(20);

    background-color: rgb(var(--color-dark));
    border-radius: rem(12);

    @include laptop {
      gap: rem(10);
      padding: rem(10);

      border-radius: rem(10);
    }

    @include mobile-above {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
