@use '../base/helpers' as *;

.accordion {
  &__details {
    &[open] {
      .accordion__title {
        &::before,
        &::after {
          background-color: rgb(var(--color-light));
        }

        &::after {
          rotate: 0deg;
        }
      }

      & + .accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__summary {
    color: rgb(var(--color-light));

    list-style: none;

    cursor: pointer;

    @include hover {
      color: rgb(var(--color-accent));
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    position: relative;

    padding-right: rem(50);

    color: inherit;

    transition-duration: var(--transition-duration);

    &::before,
    &::after {
      @include abs-y;

      right: 0;

      width: rem(16);
      height: rem(2);

      background-color: rgb(var(--color-accent));
      border-radius: 1rem;

      transition-duration: var(--transition-duration);

      content: '';
    }

    &::after {
      rotate: 90deg;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;

    transition-duration: 0.3s;

    &-inner {
      overflow: hidden;
    }

    &-body {
      --offsetTop: #{fluid(24, 16)};

      margin-top: var(--offsetTop);
      padding-top: var(--offsetTop);

      border-top: var(--border);
    }
  }
}
