@use '../base/helpers' as *;

.blog-card {
  display: grid;
  grid-template-columns: 24% 1fr auto;
  padding-block: fluid(80, 40);

  column-gap: fluid(50, 28);

  @include tablet {
    grid-template-areas:
      'author link'
      'body body';
    grid-template-columns: 1fr auto;
    row-gap: rem(30);
  }

  &__author {
    @include tablet {
      grid-area: author;
    }
  }

  &__body {
    display: grid;
    row-gap: fluid(30, 20);

    @include tablet {
      grid-area: body;
    }
  }

  &__date {
    color: rgb(var(--color-gray-60));
  }

  &__info {
    display: grid;
    row-gap: fluid(10, 4);
  }

  &__link {
    align-self: center;

    @include tablet {
      grid-area: link;
    }
  }
}
