@use '../base/helpers' as *;

.blog-actions {
  &__list {
    display: flex;

    column-gap: fluid(10, 8);
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: rem(8) rem(16);

    color: rgb(var(--color-gray-60));
    font-size: rem(18);
    font-family: var(--font-family-accent);
    column-gap: rem(4);

    background-color: rgb(var(--color-dark-10));
    border: var(--border);
    border-radius: rem(100);

    @include laptop {
      padding: rem(6) rem(12);

      font-size: rem(14);
      column-gap: rem(2);
    }
  }

  &__icon {
    --size: #{rem(24)};

    @include square(var(--size));

    display: flex;

    fill: none;
    stroke: rgb(var(--color-dark-40));

    @include laptop {
      --size: #{rem(20)};
    }

    &.is-active {
      fill: rgb(var(--color-red));
      stroke: none;
    }
  }
}
