@use '../base/helpers' as *;

.blog-details {
  &__banner {
    position: relative;

    display: flex;
    align-items: end;
    min-height: fluid(598, 281);
    padding-block: fluid(65, 17);

    text-align: center;

    &::before {
      position: absolute;
      z-index: 1;
      inset: 0;

      background-image: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.88) 75.52%, #141414 100%);

      content: '';
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-inner {
      z-index: 1;
    }
  }

  &__info-wrap {
    @include tablet-above {
      position: sticky;
      top: rem(164);
    }
  }

  &__title {
    @include fluid-text(64, 28);

    font-weight: 600;
    font-family: var(--font-family-base);
  }

  &__body {
    border-block: var(--border);

    &-inner {
      display: grid;
      grid-template-columns: 1fr rem(520);

      @include tablet {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  &__content {
    @include tablet-above {
      border-right: var(--border);
    }
  }

  &__intro,
  &__main,
  &__actions,
  &__summary {
    padding: fluid(80, 40) rem(80);

    @include laptop {
      padding-inline: rem(60);
    }

    @include tablet {
      padding-inline: 0;
    }
  }

  &__intro,
  &__actions,
  &__summary {
    @include tablet {
      @include full-vw-centered-line(bottom);
    }
  }

  &__intro,
  &__actions {
    @include tablet-above {
      border-bottom: var(--border);
    }
  }

  &__intro {
    @include tablet-above {
      @include full-vw-line(bottom, left);
    }

    h2 {
      @include fluid-text(20, 16);
    }
  }

  &__main {
    --initialMaxHeight: #{rem(741)};

    @include laptop {
      --initialMaxHeight: #{rem(692)};
    }

    @include mobile {
      --initialMaxHeight: #{rem(669)};
    }

    h2 {
      @include fluid-text(28, 18);
    }
  }

  &__actions {
    padding-block: fluid(50, 20);

    @include tablet-above {
      @include full-vw-line(bottom, right);
    }

    @include mobile {
      display: flex;
      justify-content: center;
    }
  }
}
