@use '../base/helpers' as *;

.bordered-grid {
  --columns: 1;
  --itemPaddingY: #{fluid(80, 40)};

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  &--2-cols {
    --columns: 2;
    --itemPaddingX: #{rem(80)};

    @include laptop {
      --itemPaddingX: #{rem(60)};
    }

    @include mobile-above {
      .bordered-grid__item {
        &:nth-child(odd) {
          padding-right: var(--itemPaddingX);

          border-right: var(--border);
        }

        &:nth-child(even) {
          @include full-vw-centered-line(bottom, auto, 100%, 50%);

          padding-left: var(--itemPaddingX);
        }

        /**
          Элементы самой последней 2-й колонки
        */
        &:nth-child(n + 2):nth-last-child(-n + 2) {
          &::before {
            display: none;
          }
        }
      }
    }

    @include mobile {
      --columns: 1;

      .bordered-grid__item:not(:last-child) {
        border-bottom: var(--border);
      }
    }
  }

  &--3-cols {
    --columns: 3;
    --itemPaddingX: #{rem(50)};

    @include laptop {
      --itemPaddingX: #{rem(40)};
    }

    @include tablet {
      --columns: 1;

      .bordered-grid__item:not(:last-child) {
        border-bottom: var(--border);
      }
    }

    .bordered-grid__item {
      @include tablet-above {
        /**
        Элементы в 1-й и 2-й колонке
      */
        &:nth-child(3n - 1),
        &:nth-child(3n - 2) {
          padding-right: var(--itemPaddingX);

          border-right: var(--border);
        }

        /**
          Элементы во 2-й колонке
        */
        &:nth-child(3n - 1) {
          @include full-vw-centered-line(bottom);

          padding-inline: var(--itemPaddingX);
        }

        /**
          Элементы самой последней 2-й колонки
        */
        &:nth-child(2n + 1):nth-last-child(-n + 2) {
          &::before {
            display: none;
          }
        }

        /**
          Элементы во 3-й колонке
        */
        &:nth-child(3n) {
          padding-left: var(--itemPaddingX);
        }
      }
    }
  }

  &--4-cols {
    --columns: 4;
    --itemPaddingX: #{rem(50)};

    column-gap: calc(var(--itemPaddingX) * 2);

    @include laptop {
      --itemPaddingX: #{rem(30)};
    }

    @include tablet-above {
      .bordered-grid__item {
        &:nth-child(4n - 3),
        &:nth-child(4n - 2),
        &:nth-child(4n - 1) {
          position: relative;

          &::after {
            position: absolute;
            top: 0;
            left: calc(100% + var(--itemPaddingX));

            width: rem(1);
            height: 100%;

            background-color: rgb(var(--color-dark-15));

            content: '';
          }
        }
      }
    }

    @include tablet {
      --columns: 2;
    }

    @include mobile {
      --columns: 1;

      .bordered-grid__item {
        &:not(:last-child) {
          border-bottom: var(--border);
        }
      }
    }
  }

  &__item {
    padding-block: var(--itemPaddingY);
  }
}
