@use '../base/helpers' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(18) rem(24);

  color: rgb(var(--color-gray-60));
  font-size: rem(18);
  white-space: nowrap;

  column-gap: rem(10);

  background-color: rgb(var(--color-dark));
  border: var(--border);
  border-radius: rem(12);

  @include hover() {
    color: rgb(var(--color-accent));

    background-color: rgb(var(--color-dark-10));
    border-color: rgb(var(--color-accent));
  }

  @include laptop {
    padding: rem(14) rem(20);

    font-size: rem(14);

    border-radius: rem(8);
  }

  &--accent {
    color: rgb(var(--color-dark));
    font-weight: 500;

    background-color: rgb(var(--color-accent));
    border-color: rgb(var(--color-accent));
    border-radius: rem(8);
  }

  &--dark-gray {
    background-color: rgb(var(--color-dark-10));
  }

  .icon {
    flex-shrink: 0;
  }
}
