@use '../base/helpers' as *;

.card {
  @include tablet-above {
    display: grid;
    grid-template-columns: 37.5% auto;
  }

  &__rating-view {
    @include laptop {
      justify-self: flex-start;
    }
  }

  &__preview,
  &__body {
    padding: rem(80);

    @include laptop {
      padding: rem(60);
    }

    @include tablet {
      padding: 0;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(60, 20);
    padding-left: 0;

    @include tablet-above {
      border-right: var(--border);
    }

    @include tablet {
      padding-right: 0;
      padding-block: rem(50);

      border-bottom: var(--border);
    }

    &-main {
      display: grid;
      row-gap: fluid(50, 24);

      @include tablet {
        justify-content: start;
      }
    }

    &-icon {
      width: fluid(80, 50);
    }

    &-info {
      display: grid;
      row-gap: fluid(16, 6);

      &:has(.card__rating-view) {
        @include laptop-above {
          display: flex;
          align-items: center;
          justify-content: space-between;

          column-gap: 1rem;
        }
      }
    }
  }

  &__body {
    padding-right: 0;

    @include tablet {
      padding: rem(30) 0;
    }
  }

  &__grid {
    display: grid;

    &--2-cols {
      grid-template-columns: repeat(2, 1fr);
      gap: fluid(30, 10);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &--2-cols-alt {
      gap: rem(30) rem(20);

      @include laptop {
        gap: rem(24) rem(16);
      }

      @include mobile-above {
        grid-template-columns: auto 1fr;
      }
    }

    &--3-cols {
      gap: fluid(50, 20) rem(20);

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile-above {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &--3-cols-alt {
      grid-template-columns: repeat(3, 1fr);
      gap: fluid(50, 20) rem(20);

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile-s {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);

    &:has(.card__cell-link) {
      display: grid;
      grid-template-areas:
        'other link'
        'other link';
      grid-template-columns: 1fr auto;
      gap: fluid(14, 10) rem(20);
      align-items: center;
    }

    &:has(> *:only-child) {
      justify-content: center;
    }

    &:not(.tile) {
      @include mobile-s {
        grid-template: initial;
        row-gap: rem(20);

        .card__cell-link {
          grid-area: initial;
        }
      }
    }

    &.tile {
      @include mobile-s {
        padding: rem(20);
      }
    }

    &--wide {
      grid-column: -1 / 1;
    }

    &--wide-on-mobile-s {
      @include mobile-s {
        grid-column: -1 / 1;
      }
    }

    &-subtitle {
      color: inherit;
      font: inherit;
    }

    &-image {
      width: 100%;
      height: fluid(332, 169);

      object-fit: cover;

      border-radius: rem(12);

      @include laptop {
        border-radius: rem(10);
      }
    }

    &-link {
      grid-area: link;
    }

    &-description {
      @include mobile-s {
        font-size: rem(14);
      }
    }
  }
}
