@use '../base/helpers' as *;

.circle-icon {
  --circleSize: #{rem(52)};
  --circleMarginLeft: #{rem(52)};

  position: relative;

  min-height: var(--circleSize);
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));

  @include laptop {
    --circleSize: #{rem(44)};
    --circleMarginLeft: #{rem(14)};

    row-gap: rem(2);
  }

  @include mobile {
    --circleSize: #{rem(40)};
  }

  &::after {
    @include abs-y;
    @include square(var(--circleSize));

    right: 0;

    background: rgb(var(--color-accent)) url('../img/sprite-mono.svg#icon-arrow-top-right-view') center no-repeat;
    background-size: rem(24);
    border-radius: 50%;

    content: '';
  }
}
