@use '../base/helpers' as *;

.feedback-form {
  display: grid;
  gap: fluid(50, 20) rem(50);

  @include mobile-s-above {
    grid-template-columns: repeat(2, 1fr);
  }

  &__cell {
    &--wide {
      grid-column: -1 / 1;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1rem;

    @include mobile-s {
      flex-direction: column;
      align-items: stretch;
      row-gap: rem(20);
    }
  }

  &__submit-button {
    min-width: rem(137);

    @include laptop {
      min-width: rem(103);
    }
  }
}
