@use '../base/helpers' as *;

.hero {
  &__main {
    @include tablet-above {
      display: grid;
      grid-template-areas:
        'body resources-preview'
        'metrics resources-preview';
      grid-template-columns: 60% auto;
    }
  }

  &__body {
    grid-area: body;
    padding: rem(150) rem(50) rem(100) 0;

    @include laptop {
      padding-top: rem(100);
      padding-right: rem(40);
    }

    @include tablet {
      padding: rem(40) 0 rem(30);
    }
  }

  &__subtitle {
    @include fluid-text(30, 18);

    color: rgb(var(--color-dark-40));
    font-weight: 500;
    font-family: var(--font-family-accent);

    &:not(:last-child) {
      margin-bottom: rem(30);

      @include mobile {
        margin-bottom: rem(14);
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);

      @include mobile {
        margin-bottom: rem(10);
      }
    }
  }

  &__metrics {
    grid-area: metrics;

    border-top: var(--border);

    @include tablet {
      &::before {
        right: calc(var(--container-padding-x) * -1);

        width: 100vw;
      }
    }

    @include tablet-above {
      border-top: var(--border);
    }
  }

  &__resources-preview {
    position: relative;

    grid-area: resources-preview;
    padding-bottom: rem(80);
    padding-left: rem(80);

    @include laptop {
      padding-bottom: rem(50);
      padding-left: rem(50);
    }

    @include tablet {
      //width: 100vw;
      margin-right: calc(var(--container-padding-x) * -1);
      margin-left: calc(var(--container-padding-x) * -1);
      padding: rem(100) rem(40) rem(40);
    }

    @include tablet-above {
      border-left: var(--border);
    }

    &::before {
      position: absolute;
      inset: 0;

      z-index: -1;

      background: 0 0 / cover no-repeat;
      opacity: 0.4;

      content: '';

      @include tablet {
        background-size: 50%;
      }

      .no-webp &,
      .no-avif & {
        background-image: url('../img/resources-preview/sphere@1x.png');

        @include retina {
          background-image: url('../img/resources-preview/sphere@2x.png');
        }
      }

      .webp & {
        background-image: url('../img/resources-preview/sphere@1x.webp');

        @include retina {
          background-image: url('../img/resources-preview/sphere@2x.webp');
        }
      }

      .avif & {
        background-image: url('../img/resources-preview/sphere@1x.avif');

        @include retina {
          background-image: url('../img/resources-preview/sphere@2x.avif');
        }
      }
    }
  }

  &__advantages {
    border-block: var(--border);

    &-list {
      @include tablet-above {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-item {
      --paddingX: #{rem(80)};

      padding-block: rem(50);

      @include laptop {
        --paddingX: #{rem(50)};

        padding-block: rem(40);
      }

      @include tablet-above {
        &:not(:first-child) {
          padding-left: var(--paddingX);
        }

        &:not(:last-child) {
          padding-right: var(--paddingX);

          border-right: var(--border);
        }
      }

      @include tablet {
        padding-block: rem(30);

        &:not(:last-child) {
          border-bottom: var(--border);
        }
      }
    }
  }
}
