@use '../base/helpers' as *;

.news {
  display: grid;
  row-gap: rem(80);
  padding-block: fluid(80, 40);

  @include laptop {
    row-gap: rem(40);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(358), 1fr));
    gap: rem(30);
  }
}
