@use '../base/helpers' as *;

.person-card {
  --imageSize: #{rem(80)};

  display: flex;
  align-items: center;

  column-gap: fluid(16, 8);

  @include laptop {
    --imageSize: #{rem(60)};
  }

  &__image {
    width: var(--imageSize);

    background-color: rgb(var(--color-dark-15));
    border-radius: 50%;

    @include laptop {
      width: rem(60);
    }
  }

  &__body {
    display: grid;

    @include laptop-above {
      row-gap: rem(2);
    }
  }

  &__name {
    color: rgb(var(--color-light));
    font-weight: 600;
    font-size: rem(20);

    @include laptop {
      font-size: rem(18);
    }
  }
}
