@use '../base/helpers' as *;

.rating-view {
  display: inline-flex;
  padding: rem(10) rem(16);

  column-gap: rem(7);

  background-color: rgb(var(--color-dark));
  border: var(--border);
  border-radius: rem(100);

  @include laptop {
    padding: rem(8) rem(12);

    column-gap: rem(4);
  }

  &__star {
    --size: #{rem(24)};

    fill: rgb(var(--color-gray-60));

    @include square(var(--size));

    @include laptop {
      --size: #{rem(20)};
    }

    &.is-active {
      fill: rgb(var(--color-accent));
    }
  }
}
