@use '../base/helpers' as *;

.resources-preview {
  display: flex;
  flex-direction: column;
  row-gap: rem(30);
  align-items: flex-start;
  justify-content: flex-end;

  @include laptop {
    row-gap: rem(20);
  }

  &__body {
    display: grid;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(6);
    }
  }

  &__button {
    @include mobile-s {
      width: 100%;
    }
  }
}
