@use '../base/helpers' as *;

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  max-width: rem(500);
  margin-inline: auto;

  @include laptop {
    row-gap: rem(30);
  }

  &__author {
    --imageSize: #{rem(60)};

    @include laptop {
      --imageSize: #{rem(50)};
    }
  }

  &__body {
    position: relative;

    padding: fluid(50, 30) fluid(30, 20) fluid(30, 20);

    color: rgb(var(--color-light));
    text-align: center;
  }

  &__rating-view {
    @include abs-center;

    top: 0;
  }
}
