@use '../base/helpers' as *;

.soc1als {
  &--3-cols {
    width: 100%;
    max-width: rem(308);

    .soc1als {
      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(10);

        @include laptop {
          column-gap: rem(10);
        }
      }

      &__link {
        @include flex-center;

        width: 100%;
        height: rem(60);

        background-color: rgb(var(--color-dark-10));
        border: var(--border);
        border-radius: rem(6);

        @include hover {
          border-color: rgb(var(--color-accent));
        }

        @include laptop {
          height: rem(48);
        }
      }
    }
  }

  .icon {
    fill: currentColor;
  }

  &__list {
    display: flex;

    column-gap: rem(20);

    @include laptop {
      column-gap: rem(14);
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    --size: #{rem(24)};

    @include square(var(--size));

    color: rgb(var(--color-light));

    @include laptop {
      --size: #{rem(20)};
    }
  }
}
