@use '../base/helpers' as *;

.summary {
  &--2-cols {
    .summary {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(30) rem(20);

        @include laptop {
          row-gap: rem(20);
        }
      }

      &__item {
        &--wide {
          grid-column: -1 / 1;
          margin-top: rem(20);
          row-gap: fluid(16, 10);
        }
      }
    }
  }

  &__list {
    display: flex;

    column-gap: fluid(50, 20);
  }

  &__item {
    display: grid;
    row-gap: rem(4);

    @include laptop {
      row-gap: rem(2);
    }
  }

  &__value {
    color: rgb(var(--color-light));
  }
}
