@use '../base/helpers' as *;

.tag {
  @include fluid-text(20, 14);

  padding: rem(6) rem(10);

  color: rgb(var(--color-light));
  font-weight: 500;

  background-color: rgb(var(--color-dark-20));
  border-radius: rem(4);

  @include laptop {
    padding: rem(4) rem(8);
  }
}
