@use '../base/helpers' as *;

.tile {
  padding: fluid(40, 24);

  background-color: rgb(var(--color-dark-10));
  border: var(--border);
  border-radius: rem(12);

  @include laptop {
    border-radius: rem(10);
  }
}
