@use '../base/helpers' as *;

.video-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: rem(30);
  height: 100%;

  @include laptop {
    row-gap: rem(20);
  }

  &__body {
    display: grid;
    flex-grow: 1;
    row-gap: fluid(10, 4);
  }

  &__player {
    width: 100%;
  }
}
