@use 'sass:map';
@use 'functions' as *;
@use 'variables' as *;

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin from($size) {
  $min_width: map.get($screen-sizes, $size);

  @if $min_width == null {
    @media (min-width: rem($size)) {
      @content;
    }
  } @else {
    @media (min-width: rem($min_width)) {
      @content;
    }
  }
}

@mixin to($size) {
  $max_width: map.get($screen-sizes, $size);

  @if $max_width == null {
    @media (max-width: rem($size)) {
      @content;
    }
  } @else {
    @media (max-width: rem($max_width)) {
      @content;
    }
  }
}

@mixin only-mobile($size: 'sm') {
  $max_width: map.get($screen-sizes, $size);

  @if $max_width == null {
    @media (max-width: rem($size - 1)) {
      @content;
    }
  } @else {
    @media (max-width: rem($max_width - 1)) {
      @content;
    }
  }
}

@mixin retina($dpi: 144, $dppx: 1.5) {
  @media (min-resolution: #{$dpi}dpi), (min-resolution: #{$dppx}dppx) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin color-scheme($colorScheme: 'dark') {
  @media (prefers-color-scheme: $colorScheme) {
    @content;
  }
}
