$maxViewportWidth: 1920;
$minViewportWidth: 390;

$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;
$screen-sizes: (
  lg: $laptop,
  md: $tablet,
  sm: $mobile,
  xs: $mobile-s,
);
