//- dev или prod
- const env = "dev";

- const version = "1.0.0";

- let baseUrl = "/";
- const siteUrl = "http://localhost:3000";

- const themeColor = "#000";

- const projectTitle = "Название проекта";
- const projectDescription = "Описание проекта";
- const projectType = "website"; //- website или article

- const google = "GTM-XXXXXX";
- const yandex = "XXXXXX";

//- Актуально если сборка отправляется в github pages
//- gulp-template - имя репозитория, который отправляется в github page
//- Раскомментируйте условие и измените ссылку на свою
//- - if (env === "prod")
//- -   baseUrl = "/gulp-template/";
