// @link https://rolle.design/native-css-variables-vs-scss-variables
$black: #222;
$white: #fff;
$accent: #cbcbcb;

:root {
  --theme-text: #{hextorgb($black)};
  --theme-bg: #{hextorgb($white)};

  --theme-color-accent: #{hextorgb($accent)};
}

@mixin dark-mode {
  --theme-text: #{hextorgb($white)};
  --theme-bg: #{hextorgb($black)};

  --theme-color-accent: #{hextorgb($accent)};
}

.dark-mode {
  @include dark-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

$font-primary: Roboto, -apple-system, Arial, sans-serif;

$fz: 16px;
$lh: 1.5;
$font-sizes: (
  xxs: 12px,
  xs: 14px,
  sm: $fz,
  md: 18px,
  lg: 24px,
  xl: 33px,
  xxl: 48px
);
$headlines: (
  h1: map-get($font-sizes, "xxl"),
  h2: map-get($font-sizes, "xl"),
  h3: map-get($font-sizes, "lg"),
  h4: map-get($font-sizes, "md"),
  h5: map-get($font-sizes, "sm"),
  h6: map-get($font-sizes, "xs")
);

$min-screen: 320px;
$container-sizes: (mobile: 768px, tablet: 1024px, desktop: 1536px);
$container-grid: 20px;

$transition: all 0.3s ease;
