include ../_config.pug
include ../data/*.pug
include ../functions/*.pug
include ../mixins/*.pug

block variables
  - const pageTitle = "Укажите заголовок";
  - const pageDescription = "Укажите описание";
  - const pageType = projectType;

doctype html
html.no-js(lang="ru")
  head
    include ../parts/_head.pug
    include ../parts/_head-seo.pug

  body
    div(hidden)
      include ../../assets/icons/sprite-mono.svg
      include ../../assets/icons/sprite-multi.svg

    .wrapper
      block header
        include ../parts/default/_header.pug

      main
        block content
        include ../parts/default/_about.pug

      block footer
        include ../parts/default/_footer.pug

    block scripts
      script(src="js/main.js?v=" + version, type="module")
