include ../config.pug
include ../data/*.pug
include ../mixins/*.pug

block variables
  - const pageTitle = "Укажите заголовок";
  - const pageDescription = "Укажите описание";
  - const pageType = projectType;

doctype html
html.no-js(lang="ru")
  head
    include ../parts/head.pug
    include ../parts/head-seo.pug

  body
    div(hidden)
      include ../../assets/icons/sprite-mono.svg
      include ../../assets/icons/sprite-multi.svg

    block header
      include ../parts/default/header.pug

    main
      block content

    block footer
      include ../parts/default/footer.pug

    block scripts
      script(src="/js/main.js?v=" + version, type="module")
