extends ../layouts/_default.pug

block variables
  - const pageTitle = "Главная страница";
  - const pageDescription = "Некоторое описание главной страницы";
  - const pageLink = "";

block content
  section.container.section
    h1 #{pageTitle}
    p #{pageDescription}
