name: NodeJS with Gulp

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Ubuntu packages
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick graphicsmagick

      - name: Build for main branch
        run: |
          yarn install --frozen-lockfile --ignore-engines
          yarn lint-staged
          npm run build
          echo "Build for main completed"

      - name: Deploy to GitHub Pages (main)
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./build
          branch: gh-pages
