/* stylelint-disable scss/comment-no-empty */

// 100 – Thin.
// 200 – Extra Light (Ultra Light)
// 300 – Light.
// 400 – Normal.
// 500 – Medium.
// 600 – Semi Bold (Demi Bold)
// 700 – Bold.
// 800 – Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

@use 'helpers' as *;

@include font-face('Roboto', '../fonts/roboto/roboto-regular');
@include font-face('Roboto', '../fonts/roboto/roboto-medium', 500);

@include font-face('Oswald', '../fonts/oswald/Oswaldregular');
@include font-face('Oswald', '../fonts/oswald/Oswaldmedium', 500);
@include font-face('Oswald', '../fonts/oswald/Oswalddemibold', 600);
@include font-face('Oswald', '../fonts/oswald/Oswaldbold', 700);
