// @link https://rolle.design/native-css-variables-vs-scss-variables

@use 'helpers' as *;

:root {
  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};
  --scroll-bar: #{rem(15)};
  --100vw: calc(100vw - var(--scroll-bar));

  --font-family-base: 'Oswald', sans-serif;
  --font-family-accent: 'Roboto', sans-serif;

  --color-light: #{hextorgb(#fff)};
  --color-dark: #{hextorgb(#141414)};
  --color-dark-10: #{hextorgb(#1a1a1a)};
  --color-dark-15: #{hextorgb(#262626)};
  --color-dark-20: #{hextorgb(#333333)};
  --color-dark-40: #{hextorgb(#666666)};
  --color-gray-50: #{hextorgb(#7e7e81)};
  --color-gray-60: #{hextorgb(#98989a)};
  --color-accent: #{hextorgb(#ffd11a)};
  --color-red: #{hextorgb(#ff5500)};

  --border: #{rem(1)} solid rgb(var(--color-dark-15));
  --shadow: 0 0 0 #{rem(3)} #191919;

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}

body {
  @include fluid-text(18, 14);

  min-width: rem($minViewportWidth);

  color: rgb(var(--color-gray-50));
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;

  background-color: rgb(var(--color-dark));
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: rgb(var(--color-light));
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 500;
  font-family: var(--font-family-accent);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(70, 30);

  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(58, 28);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: rgb(var(--color-accent));
  }
}

:focus-visible {
  border-radius: rem(12);
  outline: rem(2) dashed rgb(var(--color-light));
  outline-offset: rem(4);

  transition-duration: 0s !important;

  @include laptop {
    border-radius: rem(8);
  }
}
