// @link https://rolle.design/native-css-variables-vs-scss-variables

@use 'helpers' as *;

:root {
  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --font-family-base: 'Oswald', sans-serif;
  --font-family-accent: 'Roboto', sans-serif;

  --color-light: #{hextorgb(#fff)};
  --color-dark: #{hextorgb(#141414)};
  --color-accent: #{hextorgb(#ffd11a)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}

body {
  @include fluid-text(18, 14);

  color: var(--color-light);
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;

  background-color: var(--color-dark);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-accent);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 500;
  font-family: var(--font-family-accent);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(70, 30);

  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(58, 28);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);

  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: attr(aria-label);
    }
  }
}
