@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: rem($gap);

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }
}

.sr-only {
  @include sr-only;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.is-lock {
  overflow: hidden;
}

.full-vw-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;

    width: calc((var(--100vw) - var(--container-width)) / 2);
    height: rem(1);

    background-color: rgb(var(--color-dark-15));
  }

  &--top {
    &::before {
      bottom: 100%;

      content: '';
    }
  }

  &--bottom {
    &::after {
      top: 100%;

      content: '';
    }
  }

  &--left {
    &::before,
    &::after {
      right: 100%;
    }
  }

  &--right {
    &::before,
    &::after {
      left: 100%;
    }
  }
}
